
.common {
  font-weight: bold;
  font-size: 20px;
  position: absolute ;
    } 

body{
    background-color:lightgoldenrodyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    } 



.resize{ 
  height: 650px;
  width: 1000px;
  align-items: center;
}

.stuff{ 
  padding-top: 10px;
  padding-bottom: 30px;
}
.textsizing{
  font-size: 35px;
  text-decoration: underline;
}

      .header { 
          top: 5px;
          left: 5px;
          Right: 5px;
          Height: 130px; 
          border-bottom:solid 2px slategray;
      }
      
      .mainbody { 
          top: 300px;
          Bottom: 10px;
          left: 114px;
          right: 114px; 

          padding-right: 5px;
          padding-left: 5px;
          padding-bottom: 45px;
          border-bottom:solid 2px slategray;
      }

      .footer { 
          Bottom: 5px;
          Height: 60px; 
          left: 5px;
          right: 5px; 
          font-size: 15px;
          text-align: center;
          font-family: monospace;
          position: fixed;  
          border-top: solid 2px slategray
       
          
      }
      
